<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema Recados</title>
    @Styles.Render("~/Content/sistema_recados.css")
</head>
<body>
    <div>
        <div class="menu">
            <ul>
                <li>@Html.ActionLink("Início", "Index", "Recado")</li>
                <li>@Html.ActionLink("Novo Recado", "NovoRecado", "Recado")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema Recados.NET</p>
        </footer>
    </div>
</body>
</html>